<div>
    <p class="info">{{coun}},{{time}}</p>
    <p class="info">{{coun}},{{time}}</p>
    <p class="info">{{coun}},{{time}}</p>
    <p class="info">{{coun}},{{time}}</p>
    <p class="info">{{coun}},{{time}}</p>
</div>